.ThumbnailLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}
.ThumbnailLayout a {
  max-width: 25vw;
  max-height: 200px;
}
.ThumbnailLayout a > svg {
  width: 100%;
}
